@page "/testuserdata"
@using BlazorTest.Models;
@using BlazorTest.Services;
@using System.Collections.Generic;
@using System.Linq;
@using Telerik.Blazor.Components.Grid;
@using System.Text;

@inject NamesService namesService;
@inject IJSRuntime JSRuntime

<h3>Test User Data Page</h3>
<div class="container">
    <div class="row">
        <p>This component demonstrates fetching & editing data from a service via local CSV file using a HTML Grid.</p>
    </div>
    <div class="row">
        <p>Data shown below is a component</p>
    </div>
    <div class="row">
        <DataGrid />
    </div>
</div>

@functions {

}
