@page "/testuserdata"
@using BlazorTest.Models;
@using BlazorTest.Services;
@using System.Collections.Generic;
@using System.Linq;
@using Telerik.Blazor.Components.Grid;
@using System.Text;

@inject NamesService namesService;
@inject IJSRuntime JSRuntime

<h3>Test User Data Page</h3>
<div class="container">
    <div class="row">
        <p>This component demonstrates fetching & editing data from a service via local CSV file using a HTML Grid.</p>
        <p>Click on a user to edit data and view an OpenLayers Map of their location.  You can either scroll to 
        the bottom of the page to view the map or click the <span class="oi oi-map-marker" title="Scroll To Map"></span> 
        located in the header of the Modal Screen.</p>
        <p>Please note that your data will not be persisted between sessions, but a Database can easily be attached
        to the NamesService Class.
        </p>
    </div>
    <div class="row">
        <p>Data shown below is a component</p>
    </div>
    <div class="row">
        <DataGrid />
    </div>
</div>

@functions {

}
